/.vs/TestGame/FileContentIndex/d4ea4de7-13da-4e2f-8c36-a1b57ad46897.vsidx
/.vs/TestGame/v17/.suo
/.vs/TestGame/v17/Browse.VC.db
/.vs/TestGame/v17/DocumentLayout.backup.json
/.vs/TestGame/v17/DocumentLayout.json
/.vs/TestGame/v17/Solution.VC.db
/.vs/TestGame/v17/ipch/AutoPCH/db99c51e273c8e13/GAME.ipch
